   .header {
       display: flex;
       flex-direction: column;
       justify-content: center;
       text-align: center;
       padding-bottom: 40px;
       width: 100%;
   }
   
   .h-0 {
       font-family: Product Sans;
       font-size: 24px;
       line-height: 29px;
       letter-spacing: -0.02em;
       color: #5282F0;
   }
   
   .h-1 {
       font-family: Lato;
       font-size: 30px;
       font-weight: 700;
       line-height: 40px;
       letter-spacing: 0.03em;
       text-align: center;
   }
   
   .h-2 {
       font-family: Lato;
       font-size: 16px;
       font-weight: 400;
       line-height: 23px;
       letter-spacing: 0em;
       text-align: center;
   }
   
   .main-1 {
       display: flex;
       flex-direction: column;
       text-align: center;
       margin: 10px;
       margin-top: 30px;
       width: 100%;
       order: 1;
   }
   
   .m-1-1 {
       font-family: Lato;
       font-size: 16px;
       font-weight: 700;
       line-height: 21px;
       text-align: center;
       color: #00ADEE;
       text-decoration: none;
   }
   
   .m-1-2 {
       font-family: Lato;
       font-size: 28px;
       font-weight: 700;
       line-height: 37px;
       text-align: center;
   }
   
   .m-1-3 {
       font-family: Lato;
       font-size: 16px;
       font-weight: 400;
       line-height: 23px;
       text-align: center;
       margin-right: 10px;
   }
   
   .m-1-4 {
       font-family: Lato;
       font-size: 16px;
       font-weight: 700;
       line-height: 21px;
       text-align: center;
       color: #00ADEE;
       text-decoration: none;
   }
   
   .main-2 {
       width: 100%;
       padding-top: 20px;
       height: 360px;
       background-image: url(Rectangle.png);
       -webkit-background-size: 100%;
       order: 2;
       /* background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)); */
   }
   
   .m-2-1 {
       background-color: white;
       box-shadow: -15.127769470214844px 16.388418197631836px 33.617271423339844px 0px #00000080;
       z-index: 100;
       height: 149px;
       width: 247px;
       border-radius: 2.8px;
       margin-top: 50px;
       margin-left: 15px;
       display: flex;
       flex-direction: row;
   }
   
   .m-2-2 {
       height: 149px;
       width: 247px;
       border-radius: 2.75px;
       margin-top: -30px;
       margin-left: 92px;
       background: url(Rectangle2.png);
   }
   
   .main-3 {
       display: flex;
       flex-direction: column;
       text-align: center;
       margin: 10px;
       margin-top: 30px;
       width: 100%;
   }
   
   .main-4 {
       background: url(Group\ 672.png);
       -webkit-background-size: 100%;
       height: 473.46px;
       width: 100%;
       display: flex;
       flex-direction: row;
       justify-content: center;
       margin-bottom: 70px;
   }
   
   .m-4-1 {
       background: url(Clay\ Mockup.png) no-repeat;
       -webkit-background-size: 100%;
       height: 513px;
       width: 254.1239013671875px;
       box-shadow: -22.04164695739746px 23.878454208374023px 48.9814453125px 0px #00000080;
       display: flex;
       flex-direction: row;
       justify-content: center;
   }
   
   .m-4-1-1 {
       margin-top: 55px;
       background: url(image\ 2.png);
       height: 395.5662536621094px;
       width: 222.93966674804688px;
   }
   
   .main-5 {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-top: 90px;
       text-align: center;
       font-family: Lato;
       font-size: 16px;
       font-weight: 400;
       line-height: 23px;
       width: 100%;
   }
   
   .m-5-icon {
       width: 24px;
   }
   
   .m-5-1 {
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
   }
   
   .main-6 {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-top: 90px;
       width: 100%;
   }
   
   .feedback {
       display: flex;
       flex-direction: column;
       height: 161px;
       width: 309px;
       border-radius: 4px;
       border: 1px rgb(177, 177, 177) solid;
   }
   
   .feedback-1 {
       margin-bottom: 20px;
       margin: 10px;
       display: flex;
       flex-direction: row;
       align-items: center;
       font-family: Lato;
       font-size: 16px;
       font-style: normal;
       font-weight: 700;
       line-height: 19px;
       letter-spacing: 0em;
       text-align: left;
   }
   
   .feedback-2 {
       margin-bottom: 20px;
       margin: 10px;
       font-family: Lato;
       font-size: 14px;
       font-style: normal;
       font-weight: 400;
       line-height: 18px;
       letter-spacing: 0em;
       text-align: left;
   }
   
   .twitter-icon {
       margin-left: 40%;
   }
   
   footer {
       background-color: #00ADEE;
       width: 100%;
       padding-top: 20px;
   }
   
   .img {
       margin-left: 20px;
   }
   
   .footer-links a {
       text-decoration: none;
       color: white;
   }
   
   .hidden {
       width: 0;
   }
   
   .header-1 {
       display: flex;
       background: #F4F6F9;
   }
   
   .main-1-main-2 {
       display: flex;
       flex-direction: column;
   }
   
   .main-3-main-4 {
       display: flex;
       flex-direction: column;
   }
   
   .main-5-0 {
       margin-top: 30px;
   }
   
   @media (min-width: 720px) and (max-width: 1440px) {
       .hidden {
           width: 100%;
       }
       .header {
           justify-content: start;
           text-align: start;
           padding: 30px;
           padding-left: 50px;
       }
       .main-1 {
           order: 2;
           padding-right: 30px;
           text-align: left;
           margin-top: 50px;
       }
       .main-2 {
           order: 1;
       }
       .main-1-main-2 {
           display: flex;
           flex-direction: row;
       }
       .main-3-main-4 {
           display: flex;
           flex-direction: row;
       }
       .main-3 {
           padding-left: 30px;
           text-align: left;
           justify-content: left;
           margin-top: 50px;
       }
       .m-1-3 {
           text-align: left;
       }
       .m-1-2 {
           text-align: left;
       }
       .m-1-1 {
           text-align: left;
       }
       .main-5 {
           display: grid;
           grid-template-columns: 1fr 1fr 1fr;
           grid-template-rows: 1fr 1fr 1fr;
           margin-top: 90px;
           font-family: Lato;
           font-size: 16px;
           font-weight: 400;
           line-height: 23px;
           width: 100%;
           flex-wrap: wrap;
           max-width: 1440px;
       }
       .main-5-0 {
           background: url(Group\ 696.png);
           -webkit-background-size: 100%;
           color: white;
       }
       .m-5-icon {
           fill: white;
       }
   }