* {
    box-sizing: border-box;
    margin: 0;
}

.main-block {
    height: 990px;
    width: 1440px;
    left: 24px;
    top: 228px;
    border-radius: 0px;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
}

.first-banner {
    height: 72px;
    width: 1440px;
    border-radius: 1px;
    background: #0B2239;
    position: relative;
}

.for-font-1 {
    height: 40px;
    width: 922px;
    top: 25%;
    text-align: left;
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0px 32px;
}

.cookie-settings {
    height: 40px;
    width: 130px;
    border-radius: 4px;
    margin-left: 1080px;
    margin-top: 10px;
    color: #4AD295;
    background: #0B2239;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cookie-accept {
    height: 40px;
    width: 130px;
    border-radius: 4px;
    background: #4AD295;
    margin-left: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0px;
}

.second-banner {
    height: 52px;
    width: 1440px;
    left: 0px;
    top: 96px;
    margin: 24px 0px;
    background: #2B2627;
    border-radius: 2px;
    box-shadow: 0px 12px 24px -6px rgba(114, 109, 109, 0.15), 0px 0px 1px rgba(48, 46, 46, 0.1);
}

.second-banner p {
    color: whitesmoke;
    text-align: center;
    padding-top: 10px;
}

.third-banner {
    height: 72px;
    width: 560px;
    border-radius: 16px;
    padding: 16px;
    background: white;
    box-shadow: 0px 0px 1px 0px #4948481a;
    box-shadow: 0px 12px 24px -6px #42424226;
    display: inline-flex;
    margin-top: 30px;
}

.third-banner p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding-left: 8px;
    height: 40px;
    width: 347px;
    left: 62px;
    top: 16px;
    max-width: 560px;
}

.cookie-icon {
    height: 36px;
    width: 36.00000762939453px;
    left: 16px;
    top: 18px;
    border-radius: 10px;
    padding: 8px;
    background: #EA4C891A;
    margin-left: 10px;
}

.decline-button {
    height: 28px;
    width: 63px;
    left: 419px;
    top: 22px;
    border-radius: 8px;
    padding: 4px 10px;
    background: rgba(13, 12, 34, 0.05);
    margin: 0px 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.allow-button {
    height: 28px;
    width: 63px;
    left: 492px;
    top: 22px;
    border-radius: 8px;
    padding: 4px 10px;
    background: #EA4C89;
    color: white;
    margin-right: 20px;
}

.fourth-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    position: static;
    width: 560px;
    height: 64px;
    left: 0px;
    top: 96px;
    background: #26262B;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 10px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 24px 0px;
    margin-bottom: 60px;
}

.fourth-banner p {
    width: 469px;
    height: 40px;
    left: 16px;
    top: 12px;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0px 10px;
    font-weight: 400;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.okay-button {
    display: flex;
    text-align: left;
    flex-direction: row;
    padding: 4px 10px;
    width: 55px;
    height: 28px;
    left: 495px;
    top: 18px;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 0px 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fifth-banner-whole {
    height: 206px;
    width: 360px;
    border-radius: 6px;
    padding: 24px;
    background: #1C2540F2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.fifth-banner-1 {
    height: 80px;
    width: 312px;
    left: 0px;
    top: 30px;
    color: white;
    font-size: 14px;
}

.fifth-banner-2 {
    height: 32px;
    width: 312px;
    left: 24px;
    top: 150px;
    color: white;
    margin: 0px 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    display: flex;
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.accept-button {
    height: 32px;
    width: 85px;
    left: 227px;
    border-radius: 6px;
    padding: 8px, 20px, 8px, 20px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    background: #09B3AF;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    margin: 0px 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sixth-banner {
    padding: 16px;
    width: 360px;
    height: 170px;
    left: 400px;
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 0px 1px 0px #6060601A;
    box-shadow: 0px 12px 24px -6px #60606026;
    margin-left: 424px;
    margin-top: -205px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, C
}

.sixth-banner-inner {
    height: 32px;
    width: 328px;
    left: 16px;
    top: 122px;
    position: static;
    margin: 16px 0px;
    display: inline-flex;
}

.manage-cookie-button {
    padding: 8px;
    width: 160px;
    height: 32px;
    top: 0px;
    background: #EAF0F4;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    margin: 0px 8px;
    text-align: center;
    color: #687F8C;
}

.accept-all-button {
    padding: 8px;
    width: 160px;
    height: 32px;
    left: 168px;
    top: 0px;
    background: #40C1A7;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    flex-grow: 1;
    margin: 0px 8px;
    text-align: center;
}

.seventh-eighth-banner {
    display: flex;
    flex-direction: row;
    position: static;
    width: 680px;
    height: 260px;
    margin-top: 90px;
    margin-left: -40px;
}

.seventh-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    position: static;
    width: 320px;
    height: 260px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(186, 226, 255, 0.15) 23.96%, rgba(229, 217, 255, 0.15) 71.87%, rgba(255, 255, 255, 0.15) 100%), #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 20px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 40px;
}

.eighth-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 16px;
    position: static;
    width: 320px;
    height: 137px;
    left: 360px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 4px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 40px;
}