.body {
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
}

.header {
    width: 100%;
    height: 10%;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 2.5%;
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Comfortaa', cursive;
}

.logo {
    padding: 2px;
}

.header-links {
    display: flex;
    justify-content: space-between;
    width: 25%;
    text-decoration: none;
    margin-right: 20%;
    font-weight: 500;
    font-size: 00.8em;
    text-decoration: none;
}

.request-demo-button {
    color: black;
    background-color: white;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    justify-content: space-between;
    border: none;
    box-shadow: 0px 5px 5px 0px #4B5D681A;
    font-weight: 500;
    font-size: 0.8em;
}

.main {
    flex-direction: column;
    justify-content: space-around;
}

.first-block {}

.first-block-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 800;
    width: 50%;
}

.first-block-content {
    width: 30%;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    padding-top: 5%;
}

.learn-more-button {
    background: #9C69E2;
    border-radius: 50px;
    padding: 5px;
    width: 200px;
    height: 50px;
    border: none;
    margin-top: 5%;
    color: white;
}

.image-first {
    float: right;
    margin-right: -18%;
    margin-top: -35%;
}

.second-block {
    height: 560px;
    border-radius: 50px;
    background: #F063B826;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.second-block-content {
    flex-direction: column;
    padding: 4%;
}

.second-block-title {
    font-family: Helvetica;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 1%;
}

.second-block-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
    font-family: 'Comfortaa', cursive;
    padding-top: 1%;
}

.title-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title-text-1 {
    font-family: Helvetica;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
}

.title-text-2 {
    font-family: Avenir;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
    width: 60%;
    margin: 0px;
    margin-left: 20%;
}

.third-block {}

.fourth-block {}