.body {
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
}

.header {
    width: 100%;
    height: 10%;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 2.5%;
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Comfortaa', cursive;
}

.logo {
    padding: 2px;
}

.header-links {
    display: flex;
    justify-content: space-between;
    width: 25%;
    text-decoration: none;
    margin-right: 20%;
    font-weight: 500;
    font-size: 00.8em;
    text-decoration: none;
}

.request-demo-button {
    color: black;
    background-color: white;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    justify-content: space-between;
    border: none;
    box-shadow: 0px 5px 5px 0px #4B5D681A;
    font-weight: 500;
    font-size: 0.8em;
}

.main {
    flex-direction: column;
    justify-content: space-around;
}

.first-block-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 800;
    width: 50%;
}

.first-block-content {
    width: 30%;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    padding-top: 5%;
}

.learn-more-button {
    background: #9C69E2;
    border-radius: 50px;
    padding: 5px;
    width: 200px;
    height: 50px;
    border: none;
    margin-top: 5%;
    color: white;
}

.image-first {
    float: right;
    margin-right: -18%;
    margin-top: -35%;
}

.second-block {
    height: 560px;
    border-radius: 50px;
    background: #F063B826;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.second-block-content {
    flex-direction: column;
    padding: 4%;
}

.second-block-title {
    font-family: Helvetica;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 1%;
}

.second-block-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
    font-family: 'Comfortaa', cursive;
    padding-top: 1%;
}

.title-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title-text-1 {
    font-family: Helvetica;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
}

.title-text-2 {
    font-family: Avenir;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
    width: 60%;
    margin: 0px;
    margin-left: 20%;
}

.third-block {
    display: flex;
    margin-top: 100px;
    width: 100%;
    flex-direction: column;
}

.third-block-1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 15%;
}

.third-block-items {
    display: flex;
    flex-direction: column;
}

.fourth-block {
    width: 100%;
    border-radius: 50px;
    height: 709px;
    background: #9C69E2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fourth-block-title {
    margin-left: 5%;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    color: #FFFFFF;
    margin-top: 10%;
}

.fourth-block-inner {
    height: 330px;
    width: 90%;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 20px 0px 0px #9758f04d;
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.fourth-block-inner-image {
    margin-left: 5%;
    margin-top: 5%;
    width: 9%;
    height: 15%;
    margin-top: 7%;
    margin-left: 10%;
}

.fourth-block-inner p {
    font-family: Avenir;
    text-align: left;
    color: #212353;
    margin: 5%;
    width: 65%;
    margin-top: 7%;
}

.fourth-block-buttons {
    height: 10px;
    width: 10px;
    left: 335px;
    top: 3428px;
    border-radius: 0px;
    background: #F063B8;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.footer {
    width: 100%;
    padding: 10%;
    font-family: 'Comfortaa', cursive;
    color: #212353;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10%;
}

.footer-top-text {
    display: flex;
    flex-direction: column;
}

.footer-top-buttons {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 25%;
    align-self: center;
}

.footer-top-buttons button {
    border-radius: 50px;
    border: 0;
    margin-left: 5%;
    display: flex;
    align-content: flex-end;
    padding: 5%;
}

.footer-bottom {
    display: flex;
    align-self: center;
    flex-direction: row;
    margin-top: 15%;
}

.footer-bottom-block {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    padding-right: 10%;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    opacity: 0.3;
}