* {
    font-family: 'Lato', sans-serif;
}

.header {
    position: absolute;
    width: 1440px;
    height: 500px;
    background: #ED4c5c;
}

.main {
    height: 500px;
    width: 1440px;
    top: 500px;
    position: absolute;
    background: white;
}

.footer {
    position: absolute;
    width: 1440px;
    height: 435px;
    top: 1045px;
    background: #FAFAFA;
}

.header-text {
    position: absolute;
    height: 195px;
    width: 445px;
    left: 165px;
    top: 122px;
    color: white;
}

.header-icons {
    height: 32px;
    width: 134px;
    left: 163px;
    top: 357px;
    position: absolute;
}